@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

#header-container {
  top: 0;
  position: fixed;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  min-height: 10vh;
  z-index: 10;
}

#header-container #title-header-container {
  font-family: 'Pacifico', cursive;
}

#header-container #links-header-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-container #links-header-container ul {
  margin: 0;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-container #links-header-container ul li {
  margin-left: 30px;
  list-style: none;
}

#header-container #links-header-container ul li svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#header-container .number-of-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#header-container #button-shopping-cart {
  border: none;
  background-color: white;
}

#container-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#container-home #carousel-home {
  width: 60%;
  height: 40%;
  -webkit-transform: translate(100px, -150px);
          transform: translate(100px, -150px);
}

#container-home .rec-carousel button {
  width: 2.5%;
  background-color: white;
}

#container-home .rec-carousel button:hover {
  background-color: black;
  color: white;
}

#container-home .rec-carousel button:focus {
  background-color: black;
  color: white;
}

#container-home .rec-carousel img {
  width: 360px;
  height: 600px;
}

#container-home .rec-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 20%;
}

#container-home .rec-pagination button {
  width: 10px;
  height: 10px;
}

#container-home .rec-pagination button:hover {
  -webkit-box-shadow: 0 0 1px 3px black;
          box-shadow: 0 0 1px 3px black;
  background-color: white;
}

#container-home .rec-pagination button:focus {
  background-color: white;
  -webkit-box-shadow: 0 0 1px 3px black;
          box-shadow: 0 0 1px 3px black;
}

#container-home #title-hero-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 40%;
  height: 30%;
}

#container-home #title-hero-home span {
  width: 70%;
}

#container-home button {
  width: 100%;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  height: 8vh;
}

#footer div svg {
  margin-left: 15px;
}

#shop-container {
  margin-top: 100px;
  height: 210vh;
}

#shop-container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shop-container img {
  position: relative;
  height: 17em;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#shop-container .textCard {
  font-size: 20px;
}

#shop-container .card {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  color: black;
}

#shop-container .card:hover img {
  padding: 4px;
  opacity: 0.7;
}

#container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82vh;
  width: 60%;
}

#container-item #container-image-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#container-item img {
  width: auto;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#container-item #container-item-info {
  width: 50%;
}

#container-item #buy-container input {
  margin-right: 10px;
  height: 2.3em;
  border: 1px solid black;
}
/*# sourceMappingURL=main.css.map */